:host {
    .row {
        display: flex;
        flex-direction: column !important;
    }
    mat-list-item {
        background-color: white;
        margin-bottom: 10px;
        height: 100%

    }
    .button {
        align-items: center;
        width: 50%;
    }

 
}